{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value %}
        <a href="{{ absolute_url(asset(value)) }}" target="_blank">Просмотреть</a>
    {% endif %}
{% endblock %}
