.b-error {
  &__item {
    padding: .5rem .9rem .5rem 1.875rem;
    border-radius: 5px;
    background-color: flexy-color(orange);
    color: flexy-color(green1);
    margin-bottom: .9rem;
    position: relative;
    &:before {
      content: '•';
      position: absolute;
      padding: .5rem 0;
      top: 0;
      left: .8rem;
    }
  }
}