.b-header {
  padding: 20px 0 7px 0;
  position: relative;
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    & img {
      width: 100%;
    }
  }
  @include flexy-breakpoint(large) {
    padding: 20px 0;
    &__row {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
/* logo */
.b-header-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 13px;
  & img {
    display: block;
  }
  &__title {
    opacity: 0.7;
    font-size: flexy-size(small);
    line-height: 1;
    text-align: center;
  }
  &__img {
    margin-bottom: 13px;
  }
  @include flexy-breakpoint(medium) {
    flex-direction: row;
    justify-content: stretch;
    &__title {
      margin-left: 18px;
      max-width: 150px;
      text-align: left;
    }
    &__img {
      margin-bottom: 0;
    }
  }
  @include flexy-breakpoint(large) {
    margin-bottom: 0;
  }
}
/* contacts */
.b-header-contacts {
  display: flex;
  margin: 0 -12px;
  flex-wrap: wrap;
  justify-content: center;
  &__link {
    display: block;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none;
    margin-bottom: 13px;
    & i {
      color: flexy-color(green);
      margin-right: 14px;
    }
  }
  &__mail, &__phone {
    padding: 0 12px 13px;
  }
  &__load {
    position: relative;
    &:before {
      content: '\f019';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 11px;
    }
  }
  @include flexy-breakpoint(large) {
    justify-content: stretch;
    margin: 0;
    &__mail, &__phone {
      padding: 0;
    }
    &__mail {
      margin-right: 73px;
      margin-left: 12px;
    }
  }
}