.sprite {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-icon-blueprint-y {
  width: 57px;
  height: 57px;
  background-position: -5px -5px;
}

.sprite-icon-calendar-y {
  width: 44px;
  height: 44px;
  background-position: -72px -5px;
}

.sprite-icon-discount-y {
  width: 69px;
  height: 73px;
  background-position: -126px -5px;
}

.sprite-icon-edit-y {
  width: 38px;
  height: 38px;
  background-position: -205px -5px;
}

.sprite-icon-like {
  width: 68px;
  height: 68px;
  background-position: -205px -53px;
}

.sprite-icon-like-y {
  width: 61px;
  height: 69px;
  background-position: -5px -131px;
}

.sprite-icon-list-y {
  width: 38px;
  height: 42px;
  background-position: -76px -131px;
}

.sprite-icon-package-y {
  width: 47px;
  height: 51px;
  background-position: -124px -131px;
}

.sprite-icon-play {
  width: 87px;
  height: 87px;
  background-position: -181px -131px;
}

.sprite-icon-saw {
  width: 68px;
  height: 68px;
  background-position: -283px -5px;
}

.sprite-icon-saw-y {
  width: 66px;
  height: 66px;
  background-position: -283px -83px;
}

.sprite-icon-shipped-y {
  width: 65px;
  height: 41px;
  background-position: -278px -159px;
}

.sprite-icon-stopwatch {
  width: 68px;
  height: 68px;
  background-position: -5px -210px;
}

.sprite-icon-stopwatch-y {
  width: 66px;
  height: 66px;
  background-position: -83px -210px;
}

.sprite-icon-track-y {
  width: 47px;
  height: 32px;
  background-position: -5px -83px;
}

.sprite-icon-tree {
  width: 68px;
  height: 68px;
  background-position: -278px -210px;
}
