<section class="b-feature" id="feature">
    <div class="b-space"></div>
    <div class="b-space b-visible_medium_up"></div>
    <div class="b-space b-visible_large_up"></div>
    <div class="b-wrapper">
        <div class="b-content-title b-content-title--center h1">Преимущества работы с нами</div>
        <div class="b-space"></div>
        <div class="b-space b-visible_medium_up"></div>
        <div class="b-block-grid b-block-grid_small_1 b-block-grid_medium_2 b-block-grid_large_3">
            <div class="b-block-grid__item">
                <div class="b-feature-item">
                    <div class="b-feature-item__title">Дисковое<br>
                        пиление
                    </div>
                    <div class="b-feature-item__content">
                        <div class="b-feature-item__icon"><i class="sprite sprite-icon-saw-y"></i></div>
                        <div class="b-feature-item__desc">Чтобы добиться идеальной геометрии, распиловка древесины
                            осуществляется на станках с дисковым пилением
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-block-grid__item">
                <div class="b-feature-item">
                    <div class="b-feature-item__title">Контроль качества<br>
                        в 3 этапа
                    </div>
                    <div class="b-feature-item__content">
                        <div class="b-feature-item__icon"><i class="sprite sprite-icon-like-y"></i></div>
                        <div class="b-feature-item__desc"><span class="b-feature-item__num">1.</span> Контроль геометрии
                            бревна и лунного паза на нём.
                            <span class="b-feature-item__num">2.</span>
                            Измерение нарезанной чаши шаблоном. <span class="b-feature-item__num">3.</span> проверка
                            детали в соответствии с проектом
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-block-grid__item">
                <div class="b-feature-item">
                    <div class="b-feature-item__title">Быстрые и удобные<br>
                        сроки производства
                    </div>
                    <div class="b-feature-item__content">
                        <div class="b-feature-item__icon"><i class="sprite sprite-icon-stopwatch-y"></i></div>
                        <div class="b-feature-item__desc">Быстрые сроки производства — до 30 рабочих дней.
                            Наличие материалов на складе
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-block-grid__item">
                <div class="b-feature-item">
                    <div class="b-feature-item__title">Наличие собственного<br>
                        проектного отдела
                    </div>
                    <div class="b-feature-item__content">
                        <div class="b-feature-item__icon"><i class="sprite sprite-icon-blueprint-y"></i></div>
                        <div class="b-feature-item__desc">Наши проектировщики помогут Вам составить планировку дома,
                            спроектируют дом с учётом всех нагрузок и учтут особенности строительного материала
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-block-grid__item">
                <div class="b-feature-item">
                    <div class="b-feature-item__title">Доставка<br>
                        материала
                    </div>
                    <div class="b-feature-item__content">
                        <div class="b-feature-item__icon"><i class="sprite sprite-icon-track-y"></i></div>
                        <div class="b-feature-item__desc">Бесплатно найдём транспорт до Вашего региона и предложим
                            действительно хорошие условия доставки
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-block-grid__item">
                <div class="b-feature-item">
                    <div class="b-feature-item__title">Наличие сезонных<br>
                        скидок
                    </div>
                    <div class="b-feature-item__content">
                        <div class="b-feature-item__icon"><i class="sprite sprite-icon-discount-y"></i></div>
                        <div class="b-feature-item__desc">Зимой дешевле. Объёмы заготовки древесины возрастают, и у
                            производителя появляется возможность снизить стоимость продукции
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-space b-visible_medium_up"></div>
    <div class="b-space b-visible_large_up"></div>
</section>