<div class="b-modal b-modal--coop" id="get-coop">

    <a href="#" class="b-modal__cl-btn" data-izimodal-close><i
                class="fas fa-times"></i></a>

    <form action="" method="post" class="b-form message-form">
        <div class="b-form__title h3">Получите специальные условия сотрудничества</div>
        <div class="b-error">
            <div class="b-wrapper"></div>
        </div>
        <div class="b-flashes">
            <div class="b-wrapper"></div>
        </div>
        <div class="b-space"></div>
        <div class="b-row">
            <div class="b-col b-col_small_12 b-col_medium_6">
                <div class="b-form__elem b-input">
                    <input type="text" name="name" id="сoop-name" class="b-input__field js-field">
                    <label for="сoop-name" class="b-input__label">Имя*</label>
                </div>
                <div class="b-form__elem b-input">
                    <input type="tel" name="phone" id="сoop-phone" class="b-input__field js-field">
                    <label for="сoop-phone" class="b-input__label">Телефон*</label>
                </div>
                <div class="b-form__elem b-file">
                    <input type="file" value="" name="file" id="сoop-file" class="b-file__field">
                    <label for="сoop-file" class="b-file__label">
                        <div class="b-file__icon"><i class="fas fa-download"></i></div>
                        <div>прикрепить файл</div>
                        <div class="b-file__name"></div>
                    </label>
                </div>
            </div>
            <div class="b-col b-col_small_12 b-col_medium_6">
                <div class="b-form__elem b-textarea">
                    <textarea name="mes" id="coop-mes" class="b-textarea__field"></textarea>
                    <label for="coop-mes" class="b-textarea__label">Сообщение</label>
                </div>
                <div class="b-form__elem b-checkbox">
                    <input type="checkbox" name="agree" id="coop-agree" class="b-checkbox__field">
                    <label for="coop-agree" class="b-checkbox__label"><span class="b-checkbox__custom"></span>Я
                        согласен на обработку персональных данных на условиях и для целей определенных
                        <a href="./uploads/policy.pdf" download>Политикой конфиденциальности</a></label>
                </div>
            </div>
        </div>
        <div class="b-space"></div>
        <div class="b-form__elem b-input-submit b-input-submit--green">
            <input type="submit" value="Отправить">
            <input type="hidden" name="form_name" id="form_name">
        </div>
    </form>

</div>
